.reviews-container{
    width: 100%;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    h1{
        color: rgb(211, 211, 211);
    }

    
    .each-review-container{
        width: 85%;
        min-height: 7rem;
        border: 2px solid rgb(245, 236, 214);
        margin: 10px 0;
        background-color: rgb(246, 239, 225);
        box-shadow: 4px 4px 7px;

        .user-details{
            height: 5rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .user-image{
                width: 15%;
                margin: 0 8px;
            }

            .user-information{
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                #name-and-rating{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    p{
                        margin-right: 10px;
                        text-align: start;
                    }
                }

                p{
                    margin: 0px;
                    padding: 0;
                    text-align: start;
                }
            }

            .MuiRating-readOnly{
                font-size: 1rem;
            }
        }

        .user-comment{
            min-height: 5rem;
            .MuiTypography-body1{
                font-size: 0.9rem;
            }
        }
    }

    .fetch-more-pre-loader{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        color: salmon;
    }
    .infinite-scroll-component__outerdiv{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 25px;
        
        .infinite-scroll-component{
            box-shadow: 0 10px 10px -5px;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            height: 500px !important;

            p{
                width: 100%;
            }
        }
    }
}

@media(min-width :1200px){
  .reviews-container{
      min-height: 40rem;
  }
}