nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: white;

    h1{
        color: salmon;
    }
}


@media(min-width :920px){
    nav{
        justify-content: space-around;
    }
}