.restaurant-details-information{
    width: 100%;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(216, 216, 216);

    h1{
        color: rgb(214, 214, 214);
    }

    h3{
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(172, 78, 15);
        text-transform: uppercase;
    }

    .rating-details{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 5px;

    }

    .restaurant-address, .phone-number, .working-hours, .cuisines{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px 0;

        p{
            font-size: 1.2rem;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
        }
    }


    .restaurant-highlights{
            width: 80%;
            min-height: 5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 10px 0;

        p{
            min-width: 4rem;
            height: 2rem;
            padding: 0 5px;
            border: 1px solid darkgray;
            background-color: darkgray;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin: 3px;
        }
    }
}

@media(min-width :1200px){
    .restaurant-details-information{
        min-height: 40rem;
    }
}