.restaurant-search-container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url('./assets/search_background_image_two.jpg');
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .restaurant-search-form{
        margin-top: 5rem;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .MuiOutlinedInput-notchedOutline{
            border-color: rgb(0, 0, 0);
        }

        .MuiInputBase-root.Mui-disabled{
            border-color: rgb(87, 86, 86);
        }
        
    }
}

@media(min-width :720px){
    .restaurant-search-container{
         justify-content: center;
        .restaurant-search-form{
           height: 40vh;
           margin-top: 0;
        }
    }
}


@media(min-width :1200px){
   .restaurant-search-container{
       width: 50%;
       min-height: 80vh;
   }
}



@import './search_results/SearchResults';
